In [3]:
from pycoingecko import CoinGeckoAPI
import pandas as pd
import time
import datetime

In [4]:
def unix_time(year, month, day, hour, second):
    date_time = datetime.datetime(year, month, day, hour, second)
    return time.mktime(date_time.timetuple())
def human_time(unix_time):
    return datetime.datetime.fromtimestamp(unix_time)

In [5]:
start_time = unix_time(2021, 9, 16, 0, 0)
end_time = unix_time(2022, 9, 16, 0, 0)
print('start_time:', start_time)
print('end_time:', end_time)

start_time: 1631775600.0
end_time: 1663311600.0

In [12]:

cg = CoinGeckoAPI()
btc = cg.get_coin_market_chart_range_by_id(id='bitcoin',vs_currency='usd',from_timestamp=start_time, to_timestamp=end_time)
btc_df = pd.DataFrame(btc)


btc_prices_1_year = pd.DataFrame(btc_df['prices'].tolist())
btc_prices_1_year.columns =['Date','Price']
btc_prices_1_year['Date'] = pd.to_datetime(btc_prices_1_year['Date'], unit='ms')


btc_prices_1_year

          Date         Price
0   2021-09-17  47879.473440
1   2021-09-18  47228.658216
2   2021-09-19  48266.627073
3   2021-09-20  47371.039332
4   2021-09-21  42932.946596
..         ...           ...
360 2022-09-12  21739.804380
361 2022-09-13  22339.670503
362 2022-09-14  20184.967492
363 2022-09-15  20255.922978
364 2022-09-16  19702.169890

[365 rows x 2 columns]

In [9]:
eth = cg.get_coin_market_chart_range_by_id(id='ethereum',vs_currency='usd',from_timestamp=start_time, to_timestamp=end_time)
eth_df = pd.DataFrame(eth)


eth_prices_1_year = pd.DataFrame(eth_df['prices'].tolist())
eth_prices_1_year.columns =['Date','Price']
eth_prices_1_year['Date'] = pd.to_datetime(eth_prices_1_year['Date'], unit='ms')


eth_prices_1_year

          Date        Price
0   2021-09-17  3573.307516
1   2021-09-18  3412.177182
2   2021-09-19  3427.584262
3   2021-09-20  3335.884887
4   2021-09-21  2977.322679
..         ...          ...
360 2022-09-12  1761.317356
361 2022-09-13  1710.164291
362 2022-09-14  1573.205214
363 2022-09-15  1635.368206
364 2022-09-16  1471.999593

[365 rows x 2 columns]